/***************
#General
****************/

html, body {
	background-color: #fff;
	color: #000;
	font-size: 1em;
}

.btn-dark {
	background-color: #000;
}

label, .btn-dark {
	margin-top: 3%;
}

h2, p {
	color: #000;
}



.container:not(nav){
	border: solid 1px #000;
}



/***************
#Nav
****************/

nav {
	margin-bottom: 2%;

}

img	{
	width: 5%;
}


nav h1 {
	margin-top: 5%;
	display: inline-block;
	vertical-align: sub;
}

nav ul {
	list-style-type: none;
	text-align: right;
}

nav ul li {
	display: inline-block;
	padding-right: 2%;
}


ul li a {
	color: #000;
}

a:hover, ul li a:hover {
	color: #FF0000;
}


/***************
#Body
****************/

div.container {
	/* background-color: rgba(1,1,45,0.6);*/
	padding: 2%;
}

.btn:hover, .bnt-dark:hover {
	background-color: #424242;
}

/***************
#Explore
****************/
.create-menu ul, .action-list {
	text-decoration: none;
	text-align: right;
}

.create-menu ul li, i {
	display: inline-block;
}

.create-menu ul li {
	background-color: #000;
	border: 1px solid black;
	padding: 0.2% 0.9%;
	margin-left: 2%
}

.create-menu ul li a {
	font-size: 0.8em;
	color: #fff;
}

.row a {
	color: #000;
	margin-right: 3%;
}

table {
	margin-top: 3%;
}

