{% extends 'index.html' %}

{% block header %}
  <h1>{% block title %}New Subtechnique{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
  	<div class="form-group row">
  		<div class="col-7">
		    <label for="title">Name</label>
		    <input name="name" class="form-control" id="name" value="{{ request.form['name'] }}" required>
  		</div>

      	<div class="col-9">
      		<label for="description">Description</label>
    		<textarea name="description" class="form-control" id="description">{{ request.form['description'] }}</textarea>
  		</div>

      	<div class="col-7">
    		<input type="submit" class="btn btn-dark" value="Save">
  		</div>
  	</div>
  </form>
{% endblock %}