{% extends 'index.html' %}

{% block header %}

<!--
  <script type="text/javascript">
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
    });

  </script> -->

  <h2>{% block title %}Welcome!{% endblock %}</h2>
  <p>Load one or multiple URLs to carry out the mapping against TRAM. Select which adversary you want that mapping to be associated with.</p>
  {% if g.user %}
    <!--Add new links to different sections this for a home page 
    <a class="action" href="{{ url_for('maps.create_adversary') }}">New</a>

    Add function to ask you to log in if not logged before searching-->
  {% endif %}
{% endblock %}

<!--Search by Adversary-->
{% block content %}
  <form method="post">
    <div class="form-group row align-items-end">
      <div class="col-5">
        <label for="title">Insert URL</label>
        <input name="name" class="form-control" id="name" value="{{ request.form['name'] }}" required>
      </div>

      <div class="col-5">
        <input type="submit" class="btn btn-dark" value="Map!">
      </div>
    </div>
  </form>

<!--Search by Tool-->
  <form method="post">
    <div class="form-group row align-items-end">
      <div class="col-5">
        <label for="title">Select related Adversary</label>
         <!-- Make this an editable input a dropdown menu with a select to the adversaries in the database -->
        <select>
            {% for name in adversaries_list %}
              <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
      </div>
    </div>
  </form>
{% endblock %}